{% extends "vgl/base.html" %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "vgl/css/search.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
{% endblock css %}

{% block content %}
    <section class="rounded-lg mx-auto">
    {% block list_title %}
    {% endblock list_title %}

    {# Search form #}
    {% block search_form %}
        {% include "vgl/search_form.html" %}
    {% endblock search_form %}

    {# Search results, ony shown if there is a query or if there are only filters (and thus no query could exist in the first place) #}
    {% if form.cleaned_data.q or only_filters %}
        <div {% if game_list %}id="results-list" class="row row-cols-1 row-cols-xl-2"{% else %}id="no-results" class="text-center text-secondary text-size-1-25-rem text-size-sm-1-5-rem"{% endif %}>
        {% for game in game_list %}
            <div class="col mb-4">
                <div class="card h-100 shadow">
                    <div class="row no-gutters h-100">
                        {# Game image: top on mobile, left on larger devices #}
                        <div class="col-md-4 bg-light d-flex align-items-center justify-content-center rounded-md-left">
                            {% with "vgl/img_games/"|add:game.image as game_image %}
                                <a href="{% url "vgl:game_detail" game.vgl_id %}">
                                    <img src="{% static game_image %}" class="card-img-top rounded-md" alt="'{{ game.name }}' box art">
                                </a>
                            {% endwith %}
                        </div>
                        {# Card content: bottom on mobile, right on larger devices #}
                        <div class="col-md-8 border-md-left">
                            {# Game rating #}
                            <div class="card-header border-top border-top-md-0 text-size-1-25-rem{% if not user.is_authenticated %} d-flex{% endif %}">
                                {% if user.is_authenticated %}
                                <span class="{% if game.user_rating >= 1 %}fas{% else %}far{% endif %} fa-star cursor-pointer{% if game.estimated_rating %} text-info{% endif %}"
                                    onclick="rateGame(this, {{ game.vgl_id }}, 1)"></span>
                                <span class="{% if game.user_rating >= 2 %}fas{% else %}far{% endif %} fa-star cursor-pointer{% if game.estimated_rating %} text-info{% endif %}"
                                    onclick="rateGame(this, {{ game.vgl_id }}, 2)"></span>
                                <span class="{% if game.user_rating >= 3 %}fas{% else %}far{% endif %} fa-star cursor-pointer{% if game.estimated_rating %} text-info{% endif %}"
                                    onclick="rateGame(this, {{ game.vgl_id }}, 3)"></span>
                                <span class="{% if game.user_rating >= 4 %}fas{% else %}far{% endif %} fa-star cursor-pointer{% if game.estimated_rating %} text-info{% endif %}"
                                    onclick="rateGame(this, {{ game.vgl_id }}, 4)"></span>
                                <span class="{% if game.user_rating == 5 %}fas{% else %}far{% endif %} fa-star cursor-pointer{% if game.estimated_rating %} text-info{% endif %}"
                                    onclick="rateGame(this, {{ game.vgl_id }}, 5)"></span>
                                {% if game.estimated_rating %}
                                    <span class="fab fa-steam fa-lg ml-2" data-toggle="tooltip" title="This rating has been estimated based on your Steam playtime"></span>
                                {% endif %}
                                {% endif %}
                                <strong class="{% if user.is_authenticated %}float-right{% else %}ml-auto{% endif %}">{{ game.stats.mean_rating }}</strong>
                            </div>
                            {# Basic game info #}
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{% url "vgl:game_detail" game.vgl_id %}">{{ game.name }} {% if game.release_date %}({{ game.release_date|date:"Y" }}){% endif %}</a>
                                </h5>
                                {% if game.aliases %}
                                    <h6 class="card-subtitle mb-2 text-muted">Also known as: {{ game.aliases|join:", " }}</h6>
                                {% endif %}
                                <p class="card-text">{{ game.deck|safe }}</p>
                            </div>
                            {# Metadata #}
                            {% if game.genres or game.platforms or game.themes %}
                            <ul class="list-group list-group-flush border-top rounded-bottom">
                                {% if game.genres %}
                                <li class="list-group-item"><strong>Genre{{ game.genres|pluralize }}: </strong>{{ game.genres|join:", " }}</li>
                                {% endif %}
                                {% if game.platforms %}
                                <li class="list-group-item"><strong>Platform{{ game.platforms|pluralize }}: </strong>{{ game.platforms|join:", " }}</li>
                                {% endif %}
                                {% if game.themes %}
                                <li class="list-group-item"><strong>Theme{{ game.themes|pluralize }}: </strong>{{ game.themes|join:", " }}</li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            {% block empty_list %}{% endblock empty_list %}
        {% endfor %}
        </div>
    {% endif %}

    {# Pagination #}
    {% if game_list %}
        {% include "vgl/pagination.html" with mobile=True %}
        {% include "vgl/pagination.html" %}
    {% endif %}

    </section>
{% endblock %}
{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
    <script src="{% static 'vgl/js/game_list.js' %}"></script>
    <script src="{% static "vgl/js/game.js" %}"></script>
    {% if year_from and year_to %}
        <script>setYearsSlider({{ year_from }}, {{ year_to }})</script>
    {% else %}
        <script>setYearsSlider()</script>
    {% endif %}
    <script>$("[data-toggle='tooltip']").tooltip()</script>
{% endblock%}