{% extends "vgl/game_list.html" %}

{% block title %}Your Ratings{% endblock %}

{% block list_title %}
    {% if game_list or user_has_ratings %}
        <h3 class="d-none d-sm-block">Feeling nostalgic? Have a look at your rated games</h3>
        <h5 class="d-sm-none">Feeling nostalgic? Have a look at your rated games</h5>
    {% endif %}
{% endblock list_title %}

{% block search_form %}
    {% if game_list or user_has_ratings %}
        {{ block.super }}
    {% endif %}
{% endblock search_form %}

{% block empty_list %}
    {% if user_has_ratings %}
        You have not rated any games matching the given criteria.
    {% else %}
        You have not rated any games yet.
    {% endif %}
{% endblock %}