<form action="{% url "vgl:search" %}" method="get" class="w-100 w-lg-75 w-xl-50 my-3 my-md-4 mx-md-auto">
    <div class="form-group input-group col-md-8 p-0 col-lg-12 mx-auto">
        <input name="q" class="form-control text-truncate" maxlength="200" type="search" placeholder="Your keywords, eg &quot;final fantasy&quot;" {% if form.cleaned_data.q %}value="{{ form.cleaned_data.q }}" {% endif %}aria-label="Search" required>
        <div class="input-group-append btn-group">
            <button class="btn btn-info" type="submit"><span class="fas fa-search"></span></button>
            <button id="advanced-filters-btn" class="btn btn-info" type="button" onclick="toggleAdvancedFilters(this)"><span id="advanced-filters-text">Advanced Filters </span><span class="fas fa-caret-down"></span></button>
        </div>
    </div>
    <div id="advanced-filters" class="collapsed mt-2 mb-4">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="genre-input">Genres</label>
                <input id="genre-input" type="text" name="genre" class="form-control mb-1 advanced-search basic-autocomplete" data-url="{% url "vgl:autocomplete_genre" %}" autocomplete="off">
            </div>
            <div class="form-group col-md-6">
                <label for="theme-input">Themes</label>
                <input id="theme-input" type="text" name="theme" class="form-control mb-1 advanced-search basic-autocomplete" data-url="{% url "vgl:autocomplete_theme" %}" autocomplete="off">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="franchise-input">Franchises</label>
                <input id="franchise-input" type="text" name="fran" class="form-control mb-1 advanced-search basic-autocomplete" data-url="{% url "vgl:autocomplete_franchise" %}" autocomplete="off">
            </div>
            <div class="form-group col-md-6">
                <label for="platform-input">Platforms</label>
                <input id="platform-input" type="text" name="plat" class="form-control mb-1 advanced-search basic-autocomplete" data-url="{% url "vgl:autocomplete_platform" %}" autocomplete="off">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="developer-input">Developers</label>
                <input id="developer-input" type="text" name="dev" class="form-control mb-1 advanced-search basic-autocomplete" data-url="{% url "vgl:autocomplete_company" %}" autocomplete="off">
            </div>
            <div class="form-group col-md-6">
                <label for="publisher-input">Publishers</label>
                <input id="publisher-input" type="text" name="pub" class="form-control mb-1 advanced-search basic-autocomplete" data-url="{% url "vgl:autocomplete_company" %}" autocomplete="off">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-6 col-md-4 col-lg-6 ml-md-auto mb-0">
                <label for="input-age-rating-system">Age Ratings</label>
                <select id="input-age-rating-system" name="ar-sys" class="form-control mb-1 advanced-search" onchange="updateAgeRatings(this)">
                    <option selected>System</option>
                    {% for system in age_ratings %}
                        <option>{{ system }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-6 col-md-4 col-lg-6 mr-md-auto mb-0">
                <label class="text-white">Rating</label>
                <select id="input-age-rating" class="form-control advanced-search" name="ar" onchange="addAgeRatingFilter(this)" disabled>
                    <option selected>Rating</option>
                    {% for system, age_rating_list in age_ratings.items %}
                        {% for age_rating in age_rating_list %}
                            <option data-option="{{ system }}">{{ age_rating }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
            <div id="age-rating-filters-container" class="col-12 mb-3">
            </div>
        </div>
        <div class="form-group col-md-8 col-lg-12 p-0 mx-auto">
            <label for="input-release-year">Release Year</label>
            <input id="input-release-year" type="hidden" class="js-range-slider advanced-search" name="years">
        </div>
        <div class="d-flex justify-content-center">
            <button type="reset" class="btn btn-light border">Clear Filters</button>
            <button type="submit" class="btn btn-info ml-3">Search</button>
        </div>
    </div>
</form>