{% extends "vgl/base.html" %}

{% block title %}Explore{% endblock %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "vgl/css/search.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
{% endblock css %}

{% block content %}
    <section class="rounded-lg mx-auto">
    <h3 class="d-none d-sm-block">Let's dive into the sea of games, shall we?</h3>
    <h5 class="d-sm-none">Let's dive into the sea of games, shall we?</h5>

    {# Search form #}
    <form action="{% url "vgl:search" %}" method="get" class="w-100 my-3 w-md-75 my-md-4 mx-md-auto w-lg-50">
        <div class="form-group input-group">
            <input name="q" class="form-control text-truncate" maxlength="200" type="search" placeholder="Your keywords, eg &quot;final fantasy&quot;" {% if query %}value="{{ query }}" sh 10.56{% endif %}aria-label="Search" required>
            <div class="input-group-append btn-group">
                <button class="btn btn-info" type="submit"><span class="fas fa-search"></span></button>
                <button id="advanced-filters-btn" class="btn btn-info" type="button" onclick="toggleAdvancedFilters(this)"><span id="advanced-filters-text">Advanced Filters </span><span class="fas fa-caret-down"></span></button>
            </div>
        </div>
        <div id="advanced-filters" class="collapsed overflow-hidden mt-2 mb-4">
            <div class="form-group">
                <label for="genre-input">Genres</label>
                <input id="genre-input" type="text" name="genre" class="form-control advanced-search">
            </div>
            <div class="form-group">
                <label for="theme-input">Themes</label>
                <input id="theme-input" type="text" name="theme" class="form-control advanced-search">
            </div>
            <div class="form-group">
                <label for="franchise-input">Franchises</label>
                <input id="franchise-input" type="text" name="fran" class="form-control advanced-search">
            </div>
            <div class="form-group">
                <label for="platform-input">Platforms</label>
                <input id="platform-input" type="text" name="plat" class="form-control advanced-search">
            </div>
            <div class="form-group">
                <label for="developer-input">Developers</label>
                <input id="developer-input" type="text" name="dev" class="form-control advanced-search">
            </div>
            <div class="form-group">
                <label for="publisher-input">Publishers</label>
                <input id="publisher-input" type="text" name="pub" class="form-control advanced-search">
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="input-age-rating-system">Age Ratings</label>
                    <select id="input-age-rating-system" name="ar-sys" class="form-control advanced-search">
                        <option selected>System</option>
                        <option>Dummy option</option>
                    </select>
                </div>
                <div class="form-group col-6">
                    <label class="text-white">Rating</label>
                    <select class="form-control advanced-search" name="ar" disabled>
                        <option selected>Rating</option>
                        <option>Dummy option</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="input-release-year">Release Year</label>
                <input id="input-release-year" type="text" class="js-range-slider" name="year-range">
            </div>
            <div class="d-flex justify-content-center">
                <button type="reset" class="btn btn-light border">Clear Filters</button>
                <button type="submit" class="btn btn-info ml-3">Search</button>
            </div>
        </div>
    </form>

    {# Search results #}
    {% if results_list or query %}
        <div {% if results_list %}id="results-list" class="row row-cols-1 row-cols-xl-2"{% else %}id="no-results" class="text-center text-secondary text-size-1-25-rem text-size-sm-1-5-rem"{% endif %}>
        {% for game in results_list %}
            <div class="col mb-4">
                <div class="card h-100 shadow">
                    <div class="row no-gutters h-100">
                        {# Game image: top on mobile, left on larger devices #}
                        <div class="col-md-4 bg-light d-flex align-items-center rounded-md-left">
                            {% with "vgl/img_games/"|add:game.image as game_image %}
                                <img src="{% static game_image %}" class="card-img-top rounded-md" alt="'{{ game.name }}' box art">
                            {% endwith %}
                        </div>
                        {# Card content: bottom on mobile, right on larger devices #}
                        <div class="col-md-8 border-md-left">
                            {# Game rating #}
                            <div class="card-header border-top border-top-md-0 text-size-1-25-rem">
                                <span class="far fa-star"></span>
                                <span class="far fa-star"></span>
                                <span class="far fa-star"></span>
                                <span class="far fa-star"></span>
                                <span class="far fa-star"></span>
                                <strong class="float-right">2.5</strong>
                            </div>
                            {# Basic game info #}
                            <div class="card-body">
                                <h5 class="card-title">{{ game.name }} ({{ game.release_date|date:"Y" }})</h5>
                                {% if game.aliases %}
                                    <h6 class="card-subtitle mb-2 text-muted">Also known as: {{ game.aliases|join:", " }}</h6>
                                {% endif %}
                                <p class="card-text">{{ game.deck }}</p>
                            </div>
                            {# Metadata #}
                            {% if game.genres or game.platforms or game.themes %}
                            <ul class="list-group list-group-flush border-top rounded-bottom">
                                {% if game.genres %}
                                <li class="list-group-item"><strong>Genre{{ game.genres|pluralize }}: </strong>{{ game.genres|join:", " }}</li>
                                {% endif %}
                                {% if game.platforms %}
                                <li class="list-group-item"><strong>Platform{{ game.platforms|pluralize }}: </strong>{{ game.platforms|join:", " }}</li>
                                {% endif %}
                                {% if game.themes %}
                                <li class="list-group-item"><strong>Theme{{ game.themes|pluralize }}: </strong>{{ game.themes|join:", " }}</li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            Sorry, we did not find any results <span class="text-nowrap">:(</span>
        {% endfor %}
        </div>
    {% endif %}

    {# Pagination #}
    {% if results_list %}
        {% include "vgl/pagination.html" with mobile=True %}
        {% include "vgl/pagination.html" %}
    {% endif %}

    </section>
{% endblock %}
{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".test-input").keydown(function (e) {
                if (e.keyCode === 13) {
                    debugger;
                    if (this.value.trim()) {
                        let dup = this.cloneNode();
                        dup.readOnly = true;
                        this.parentNode.insertBefore(dup, this.nextSibling);
                        this.value = "";
                    }
                    e.preventDefault();
                    return false;
                }
            });

            $("form").submit(function () {
                $(".advanced-search:not([readonly])").remove();
            });

            $(".js-range-slider").ionRangeSlider({
                type: "double",
                skin: "round"
            });
        });
    </script>
    <script src="{% static 'vgl/js/search.js' %}"></script>
{% endblock%}